# Virtual Environment
.venv/
venv/
env/
__pycache__/
*.pyc

# Sensitive Info
.env
config.py
luxe_session.session
luxe_session.session-journal

# Database
bot.sqlite3

# Logs
logs/
*.log

# IDEs
.vscode/
.idea/